#user-pic {
	margin-top: 4px;
	width: 40px;
	height: 40px;
}

#sign-in, #sign-out {
	margin-right: 15px;
}

#powered-by-tmdb {
	height: 60px;
	padding: 10px;
}

#title-section {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.search-div {
	padding: 10px;
}

#search-results, #collection {
	display: flex;
	flex-wrap: wrap;
}

#filters h3{
	margin-top: 0;
}
#filter-groups{
	display: flex;
}
#filter-groups .panel {
	flex-grow: 1;
	margin: 0 10px;
}
#filter-groups .panel-body {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	max-height: 200px;
}
#filter-buttons {
	margin-top: 10px;
}

div.movie, div.movie-sm {
	display: flex;
	flex-direction: column;
	margin-left: 5px;
	margin-right: 5px;
}
div.movie {
	width: 180px;
}
div.movie-sm {
	width: 160px;
}

div.movie img{
	margin-bottom: 10px;
}

div.movie div.btn-group{
	margin-top: auto;
}

.title {
	margin-bottom: 10px;
	text-align: center;
	font-weight: bold;
}

.copies, .genres {
	padding: 0 5px !important;
}

.copy, .genre {
	margin: 0 5px;
}

.copy button.close{
	margin-left: 10px;
}

.close-small {
	font-size: inherit !important;
}

