#user-pic {
	margin-top: 4px;
	width: 40px;
	height: 40px;
}

#sign-in, #sign-out {
	margin-right: 15px;
}

#powered-by-tmdb {
	height: 60px;
	padding: 10px;
}

#search-results {
	display: flex;
	flex-wrap: wrap;
}

#search-results div {
	display: flex;
	flex-direction: column;
	width: 100px;
	margin-left: 5px;
	margin-right: 5px;
}
